*{
	margin: 0;
}

#map{
	height: 100vh;
	border: 1px solid red;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: black;
    color: white;
}

.custom-popup h3{
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 6px;
}

.kcPopup img{
	max-width: 190px;
}

.kcPopup h3{
	text-transform: uppercase;
}
